.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .logo {
    width: 48px;
    margin-right: 8px;
  }
  .year {
    margin-top: 2px;
    color: #5844b7;
    font-weight: 500;
  }
}
