.passwordRequirementContainer {
  display: flex;
  flex-direction: column;
  .strengthContainer {
    display: flex;
    margin-bottom: 10px;

    .strengthMeter {
      flex: 1;
      height: 4px;
      border-radius: 22px;
      margin-right: 5px;
      background-color: #e2e4e9;
    }
    .red {
      background-color: #df1c41;
    }

    .orange {
      background-color: #e9813b;
    }

    .green {
      background-color: #3bdf1c;
    }
  }

  .requirement {
    display: flex;
    align-items: center;
    .icon {
      width: 16px;
      height: 16px;
      fill: #868c98;
      margin: 4px 0;
      margin-right: 6px;
    }
    .label {
      font-size: 12px;
      line-height: 16px;
      color: #525866;
    }
  }
}
