.negative,
.positive {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8fa;
  border-radius: 16px;
  padding: 12px 64px;
  margin: 12px;
  .icon {
    width: 25px;
    height: 24px;
    fill: #0a0d14;
  }
  .title {
    font-size: 14px;
    font-weight: 500;
    color: #0a0d14;
    margin-bottom: 2px;
  }
  .amount {
    margin-bottom: 2px;
    font-size: 15px;
  }
  .change {
    font-size: 14px;
    margin-top: 4px;
  }
}
.positive {
  border: 1px solid #e3f9c1;
  background-color: #e3f9c1;
  .change {
    color: #3bdf1c;
  }
}
.negative {
  border: 1px solid #ffc5d0;
  background-color: #ffc5d0;
  .change {
    color: #df1c41;
  }
}
