.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.gridTable {
  width: 95%;
  align-self: center;
  border-collapse: collapse;

  .companyLogo {
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #e2e4e9;
  }
  .fundingStage {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #0a0d14;
    padding: 0 2px;
    border: 1px solid #e2e4e9;
    border-radius: 16px;
    background-color: #fff;
    padding-left: 8px;
    width: 52%;
    .icon {
      margin-top: 4px;
      margin-right: 4px;
    }
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }
  tr {
    cursor: pointer;
  }
  tr:hover {
    background-color: #eeecec;
    .fundingStage {
      background-color: #e2e4e9;
    }
  }

  th {
    background-color: #fff;
    border: 1px solid #e2e4e9;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #0a0d14;
  }

  td {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #0a0d14;
  }
}
.profileContainer {
  display: flex;
  align-items: center;
}

.paginationContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.paginationButton,
.pageNumbers,
.activePage {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: #6936f5;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 4px;
  font-size: 14px;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: #e9ecef;
    color: #5a2ce0;
    border-color: #dee2e6;
  }

  &:disabled {
    color: #6c757d;
    cursor: not-allowed;
    background-color: #f8f9fa;
  }
}

.activePage {
  color: #ffffff;
  background-color: #6936f5;
  border-color: #6936f5;

  &:hover {
    background-color: #e8e8e8;
    border-color: #6936f5;
  }
}
.userNotFound {
  color: #6936f5;
}
