.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #541d87;
}

.errorMessage {
  font-size: 24px;
  color: #541d87;
  margin-top: 12px;
}

.navigate {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  padding: 16px;
  border: 1px solid #541d87;
  background-color: #541d87;
  border-radius: 16px;
  border: 1px solid #fff;
  cursor: pointer;
  &:hover {
    background-color: #5c2095;
  }
}
